<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Diary App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script defer src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    {% include "components/header.html" %}

    <main class="container">
        {% include "components/flash_message.html" %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>